<mat-card class="main">
  <div class="principal">
  <mat-form-field appearance="fill">
    <mat-label>Titulo:</mat-label>
    <input matInput required>
  </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descrição:</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button value="PENDENTE">Pendente</mat-radio-button>
      <mat-radio-button value="FEITO">Feito</mat-radio-button>
      <mat-radio-button value="FAZENDO">Fazendo</mat-radio-button>
    </mat-radio-group>
  </div>
  <app-lista-de-tarefas></app-lista-de-tarefas>
</mat-card>
